<%= render 'shared/page_title', title: "Sign up" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "form-horizontal", role: "form"}) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="form-group field">
      <div class="control-label col-md-2">
        <%= f.label :chefname, "Choose Chef Name" %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :chefname, class: "form-control", placeholder: "Enter your name", autofocus: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group field">
      <div class="control-label col-md-2">
        <%= f.label :email %>
      </div>
      <div class="col-md-8">
        <%= f.email_field :email, class: "form-control", placeholder: "Enter your email", autocomplete: "email" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group field">
      <div class="control-label col-md-2">
        <%= f.label :password %>
        <% min_pass = "" %>
        <% if @minimum_password_length %>
          <% min_pass = " (#{@minimum_password_length} characters minimum)" %>
        <% end %>
      </div>
      <div class="col-md-8">
        <%= f.password_field :password, class: "form-control", placeholder: "Choose a password#{min_pass}", autocomplete: "new-password" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group field">
      <div class="control-label col-md-2">
        <%= f.label :password_confirmation, "Confirm Password" %>
      </div>
      <div class="col-md-8">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password", autocomplete: "new-password" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group actions">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit "Sign up", class: "btn btn-primary btn-lg btn-xlarge" %>
      </div>
    </div>
  </div>

<% end %>

<div class="row">
  <div class="col-md-offset-2 col-md-10">
    <%= render "devise/shared/links" %>
  </div>
</div>
