<%= render "shared/page_title", title: "Chef #{@chef.chefname}'s profile" %>

<div class="row center">
  <div class="col-md-12">
    <%= gravatar_for(@chef, size: 150) %>
  </div>
</div>

<% if @chef.recipes.count > 0 %>
  <h4 class="center mt-2 mb-4"><%= @chef.chefname %>'s recipes</h4>

  <%= render partial: "recipes/recipes", object: @chef_recipes %>

  <%= will_paginate @chef_recipes, list_classes: %w(pagination justify-content-center mt-5) %>
<% else %>
  <h4 class="center mt-2">No recipes yet!</h4>
<% end %>
