<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>

      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-2">
            <%= f.label :description %>
        </div>
        <div class="col-md-8">
            <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps to create recipe" %>
        </div>
      </div>

      <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
              <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb| %>
                <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text.try(:capitalize)} %>
              <% end %>
            </div>
      </div>

      <% if !f.object.image? %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :image %>
          </div>
          <div class="col-md-8">
            <%= f.cl_image_upload(
              :image,
              :tags => "directly_uploaded",
              :crop => :fill, :width => 750, :height => 500,
              :html => { :class => "checkbox" },
              :return_delete_token => true
            ) %>
            <span class="status"></span>
            <div class="preview"></div>
          </div>
        </div>
      <% end %>

      <% if f.object.image? %>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <%= cl_image_tag(f.object.image, :crop => :limit, :width => 150, :height => 150) %>
            <%= f.label :remove_image %>
            <%= f.check_box :remove_image %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>

    <% end %>

    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Cancel request and return to recipes listing", recipes_path %> ]
    </div>

  </div>
</div>

<!-- Configure Cloudinary jQuery plugin -->
<%= cloudinary_js_config %>

<script>
$(function() {
  if($.fn.cloudinary_fileupload !== undefined) {
    $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
  }

  $(".cloudinary-fileupload")
    .cloudinary_fileupload({
      dropZone: "#direct_upload",
      start: function (e) {
        $(".status").text("Starting upload...");
      },
      progress: function (e, data) {
        $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
      },
      fail: function (e, data) {
        $(".status").text("Upload failed");
      }
    })
    .off("cloudinarydone").on("cloudinarydone", function (e, data) {
      $(this).hide();
      $(".status").text("");
      var preview = $(".preview").html('');
      $.cloudinary.image(data.result.public_id, {
        format: data.result.format, width: 150, height: 150, crop: "limit"
      }).appendTo(preview);
      $('<a/>').
        addClass('delete_by_token').
        attr({href: '#'}).
        data({delete_token: data.result.delete_token}).
        html('&times;').
        appendTo(preview).
        click(function(e) {
          e.preventDefault();
          $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
            $('.preview').html('');
            $('input[name="photo[image]"]').remove();
            $(".cloudinary-fileupload").show();
          }).fail(function() {
            $('.status').text("Cannot delete image");
        });
      });
    });
});
</script>
