<%= render "shared/page_title_without_hr", title: @recipe.name %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">

        <%= cl_image_tag(@recipe.image, :width => :auto, :crop => :scale, :responsive => :true, :responsive_placeholder => @recipe.image, :class => "card-img-top recipe-image") if @recipe.image? %>
        <h5 class="card-title">Steps</h5>
        <p class="card-text"><%= simple_format(@recipe.description) %></p>
        <hr />

        <% if @recipe.ingredients.any? %>
          <p class="card-text">Ingredients: <%= render @recipe.ingredients %></p>
        <% end %>

        <p class="card-text">
          <em>Created by:</em>
        </p>

        <p class="card-text">
          <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
        </p>

        <p class="card-text">
          <div class="float-right">
            <%= link_to like_recipe_path(@recipe, like: true), method: :post, class: "like-icon" do %>
              <%= icon('far', 'thumbs-up') %>
            <% end %> <%= @recipe.thumbs_up_total %> |
            <%= link_to like_recipe_path(@recipe, like: false), method: :post, class: "like-icon" do %>
              <%= icon('far', 'thumbs-down') %>
            <% end %> <%= @recipe.thumbs_down_total %>
          </div>
          <div class="recipe-created-by">
            <small><%= @recipe.chef.chefname.capitalize %>
            <%= time_ago_in_words(@recipe.created_at) %> ago</small>
          </div>
        </p>

        <p class="card-text">
          <% if chef_signed_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
            <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: "btn btn-xs btn-warning" %>
            <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete,
                data: { confirm: "Are you sure you want to delete this recipe?"}, class: "btn btn-xs btn-danger" %>
          <% end %>

          <%= link_to "Return to recipes listing", recipes_path, class: "btn btn-xs btn-custom-primary" %>
        </p>

      </div>
    </div>
  </div>
</div>

<% if chef_signed_in? %>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">

      <h3>Submit Comment</h3>
      <%= form_for([@recipe, @comment], remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>

        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <%= f.text_area :description, rows: 8, class: "form-control", placeholder: "Enter comment here" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <%= f.submit "Submit Comment", class: "btn btn-custom-primary btn-xs" %>
            </div>
          </div>
        </div>

      <% end %>
      <hr />

    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3 class="my-3" id="comments-heading"><% if @recipe.comments.size != 0 %>Prior Comments<% else %>No comments yet!<% end %></h3>
    <div id="comments">
      <%= render partial: "comments/comments", object: @comments %>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.3.0/cloudinary-core-shrinkwrap.min.js"></script>
<script type="text/javascript">
  my_breakpoints = function (width){  // width - the current width of the containing element
    return 50 * Math.floor(width / 50);
  }

  var cl = cloudinary.Cloudinary.new({cloud_name: "thomashalljr"});
  cl.config({breakpoints:my_breakpoints, responsive_use_breakpoints:"resize"})
  cl.responsive();
</script>
