<%= render "shared/page_title_without_hr", title: "Change your password" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal", role: "form" }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.hidden_field :reset_password_token %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">

          <div class="form-group field">
            <%= f.label :password, "New password" %>
            <% min_pass = "" %>
            <% if @minimum_password_length %>
              <% min_pass = " (#{@minimum_password_length} characters minimum)" %>
            <% end %>
            <div>
              <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Enter your new password#{min_pass}" %>
            </div>
          </div>

          <div class="form-group field">
            <%= f.label :password_confirmation, "Confirm new password" %>
            <div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm your new password" %>
            </div>
          </div>

          <div class="form-group actions">
            <%= f.submit "Change my password", class: "btn btn-xs btn-custom-signin btn-block" %>
          </div>

          <div>
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>
