<%= render "shared/page_title_without_hr", title: "Forgot your password?" %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal", role: "form" }) do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">

          <div class="form-group">
            <%= f.label :email %>
            <div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.submit "Send me reset password instructions", class: "btn btn-custom-signin btn-block" %>
          </div>

          <div>
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>
