<%= render 'shared/page_title', title: "#{@ingredient.name}" %>

<% if @ingredient.recipes.count != 0 %>
  <h4 align="center">Recipe's containing <%= @ingredient.name.try(:downcase) %></h4>

  <div class="center">
    <%= will_paginate @ingredient_recipes %>
  </div>

  <%= render partial: "recipes/recipe", object: @ingredient_recipes %>

  <div class="center">
    <%= will_paginate @ingredient_recipes %>
  </div>
<% else %>
  <h4 align="center">No recipes yet!</h4>
<% end %>
