<%= render "shared/page_title_without_hr", title: "Log in" %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "form-horizontal", role: "form"}) do |f| %>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">

          <div class="form-group field">
            <%= f.label :email, class: "control-label" %>
            <div>
              <%= f.email_field :email, { class: "form-control", placeholder: "Enter your email", autofocus: true, autocomplete: "email", required: true } %>
            </div>
          </div>

          <div class="form-group field">
            <%= f.label :password, class: "control-label" %>
            <div>
              <%= f.password_field :password, { class: "form-control", placeholder: "Enter your password", autocomplete: "current-password", required: true } %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="form-group actions">
            <%= f.submit "Log in", class: "btn btn-xs btn-custom-signin btn-block" %>
          </div>

          <div>
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>
