<nav class="navbar navbar-expand-lg navbar-dark mb-4">
  <%= link_to "myrecipes", root_path, class: "navbar-brand", id: "logo" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="navbar-nav mr-auto">

      <% if chef_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-recipes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recipes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbar-dropdown-recipes">
            <%= link_to "All Recipes", recipes_path, class: "dropdown-item" %>
            <%= link_to "Create recipe", new_recipe_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
        </li>
      <% end %>

      <li class="nav-item">
        <%= link_to "Chefs", chefs_path, class: "nav-link" %>
      </li>

      <% if chef_signed_in? %>
        <li class="nav-item">
          <%= link_to "Chat", chat_path, class: "nav-link" %>
        </li>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-ingredients" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ingredients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-dropdown-ingredients">
          <%= link_to "All Ingredients", ingredients_path, class: "dropdown-item" %>

          <% Ingredient.for_navbar.name_asc.each do |ingredient| %>
            <%= link_to ingredient.name.try(:capitalize), ingredient_path(ingredient), class: "dropdown-item" %>
          <% end %>

          <% if chef_signed_in? && current_chef.admin? %>
            <div class="dropdown-divider"></div>
            <%= link_to "New Ingredient", new_ingredient_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>

    <%= form_with url: search_path, local: true, method: :get, html: { class: "form-inline mt-2 mt-md-0" } do |form| %>
      <%= form.text_field :q, placeholder: "Search", data: { behavior: "autocomplete" }, class: "form-control mr-sm-2", required: true %>
      <%= form.button "Search", class: "btn btn-outline-success my-2 my-sm-0", name: nil %>
    <% end %>

    <ul class="navbar-nav">

      <% if chef_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ml-lg-2" href="#" id="navbar-dropdown-logged-in" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_chef.chefname.capitalize %>'s Profile
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-logged-in">
            <%= link_to "View your profile", chef_path(current_chef), class: "dropdown-item" %>
            <%= link_to "Edit your profile", edit_chef_registration_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log out", destroy_chef_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", new_chef_session_path, class: "nav-link ml-lg-2" %>
        </li>
      <% end %>

    </ul>
  </div>
</nav>
